<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


</head>
<body>
    ola!

    <a href="api">clique aqui para acessar a API</a>


    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <script>
        
        var url_paciente = "http://localhost:8000/api/pacientes/";
        var url_atendimento = "http://localhost:8000/api/atendimentos/";
        var url_notificacao = "http://localhost:8000/api/notificacoes/";
        function obterPaciente(){
            $.ajax({
                url: url_paciente,
                type: "GET",
                crossDomain: true,
                dataType: "json",
                success: function(data){
                    return data;
                },
                fail: function(){
                    console.log("erro");
                }
            })
        }

        function obterAtendimento(){
            $.ajax({
                url: url_atendimento,
                type: "GET",
                crossDomain: true,
                dataType: "json",
                success: function(data){
                    return data;
                },
                fail: function(){
                    console.log("erro");
                }
            })
        }

        function obterNotificacao(){
            $.ajax({
                url: url_notificacao,
                type: "GET",
                crossDomain: true,
                dataType: "json",
                success: function(data){
                    return data;
                },
                fail: function(){
                    console.log("erro");
                }
            })
        }

        $(document).ready(function(){
            let dadosPaciente = obterPaciente();
            let dadosAtendimento = obterAtendimento();
            let dadosNotificacao = obterNotificacao();

            console.log(dadosPaciente);
            console.log(dadosAtendimento);
            console.log(dadosNotificacao);
        })
    </script>
</body>
</html>