{%load static %} {%load plotly_dash%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/style.css'%}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
</head>
<body>
    <!-- Navbar -->
    {% include 'web/navbar.html' %}

    <!-- Metricas iniciais -->

    {% include 'web/metricas.html' %}

    <div id="plotly" class="container-fluid my-3">
        {%plotly_app name="tabela_notificacoes"%}
    </div>

    <div class="container-fluid my-3">
        <div class="row mb-3">
            <div class="col-sm-6">{{grafico1|safe}}</div>

            <div class="col-sm-6">{{grafico2|safe}}</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">{{grafico3|safe}}</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12">{{grafico4|safe}}</div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'web/footer.html' %}

    <script>
        $(document).ready(function () {
            $("#plotly div").css("overflow-x", "scroll !important");
            $("#plotly div").css("min-height", "270px");

            $(window).resize(function() {
                if ($(window).width() > 992) {
                    $('#nav-links').addClass('justify-content-end');
                }
                else {
                    $('#nav-links').removeClass('justify-content-end');
                }
            });
        });
    </script>
</body>
</html>
