{%load static %}

    
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand dash-link" href="/">
            <img src="{% static 'img/logo.png' %}" width="48" height="48" alt="Logo" class="d-inline-block align-text-right">
            IF-Notifica
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <div class="container-fluid d-flex justify-content-end flex-row" id="nav-links">
                <ul class="navbar-nav mb-lg-0">
                    <li class="nav-item fs-4 me-3">
                        <a class="nav-link dash-link" href="/">Dashboard</a>
                    </li>
                    <li class="nav-item fs-4 me-3">
                        <a class="nav-link" href="/sobre">Sobre</a>
                    </li>
                    <li class="nav-item fs-4 me-2">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                </ul>    
            </div>
        </div>
    </div>
</nav>