{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/style.css'%}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    <title>IF-Notifica</title>
</head>
<body>
    {% include 'web/navbar.html' %}

    <!-- About us -->

    <section class="container px-4 py-3">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6 mx-auto">
                <img src="{% static 'img/dashboard_print.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4 typing-h1">IF-Notifica</h1>
                <p class="lead">O aplicativo e sistema de dashboard do IF-Notifica foi criado com o objetivo registrar e diminuir o tempo levado para o envio de notificacoes da Covid-19 no municipio de São Paulo do Potengi e posteriormente para outras cidades!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a class="btn btn-primary btn-lg px-4 me-md-2 mt-1" href="/ifnotifica/">
                        Acesse a dashboard 
                    </a>
                    <a class="btn btn-outline-primary btn-lg px-4 me-md-2 mt-1" href="#">
                        baixar aplicativo
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="container px-4 py-3">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center mb-5">
                    <div class="col-6 align-middle d-none d-lg-block">
                        <img src="{% static 'img/mapa-covid.jpg' %}" class="img-fluid rounded-3" width="450px" loading="lazy">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold text-end mb-3">Justificativa</h1>
                        <p class="text-end">
                            Com o surgimento da pandemia da Covid-19, o mundo se viu diante de uma crise sem precedentes, e com isso, a necessidade de se criar mecanismos para o controle e monitoramento da doenca. Um destes mecanismos eram as notificacoes, que sao enviadas para o E-sus Notifica, um sistema do governo federal que tem como objetivo monitorar a pandemia no Brasil.
                            Entretanto, o envio das notificacoes era um processo demorado, logo que o envio de uma notificacao para o E-sus poderia levar até 10 minutos, tendo em vista que a quantidade de notificoes enviadas diaramente passava de 80 durante a pandemia.
                        </p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold mb-3">Objetivos</h1>
                        <p>
                            Assim sendo, decidimos criar um aplicativo que iria otimizar o tempo gasto para criacao e envio das notificacoes, e posteriormente desenvolvemos uma dashboard que iria mostrar os dados contidos nas notificacoes de forma mais intuitiva e interativa. Tendo como meta:
                        </p>
                        <ul>
                            <li>
                                Mapear o processo de notificação dos casos de COVID-19 nos sistemas SIVEP-Gripe e e-SUS Notifica junto a secretaria de saúde do município e identificar os entraves do processo de notificação dos casos da COVID-19 no município de São Paulo do Potengi
                            </li>
                            <li>
                                Desenvolver um aplicativo para dispositivos móveis que possibilite a notificação dos casos de COVID-19 no município de São Paulo do Potengi
                            </li>
                            <li>
                                Desenvolver uma dashboard que possibilite a visualização dos dados contidos nas notificações de forma mais intuitiva e interativa
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 align-middle d-none d-lg-block text-end">
                        <img src="{% static 'img/covid-19.jpg' %}" class="img-fluid rounded-3 mx-auto" width="450px" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container px-1 py-1">
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 20rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="container row d-inline-flex align-items-center mb-2">
                                <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-5 flex-shrink-0 col-2">
                                    <i class="bi-feather text-white"></i>
                                </div>
                                <h4 class="col-10 mb-1">
                                    Aplicativo
                                </h4>
                            </div>
                        </div>
                        <p class="card-text">Aplicativo criado para optimizar o tempo levado para a criação de uma noticação a partir do uso de tecnologia de APIs externas.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 20rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="container row d-inline-flex align-items-center mb-2">
                                <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-5 flex-shrink-0 col-2">
                                    <i class="bi-feather text-white"></i>
                                </div>
                                <h4 class="col-10 mb-1">
                                    API
                                </h4>
                            </div>
                        </div>
                        <p class="card-text">API responsavel por realizar a comunicação dos dados enviados pelo aplicativo para nossa dashboard e para o E-SUS Notifica.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 20rem;">
                    <img src="{% static 'img/dashboard_print.png' %}" class="card-img-top p-1" alt="...">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="container row d-inline-flex align-items-center mb-2">
                                <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-5 flex-shrink-0 col-2">
                                    <i class="bi-feather text-white"></i>
                                </div>
                                <h4 class="col-10 mb-1">
                                    Dashboard
                                </h4>
                            </div>
                        </div>
                        <p class="card-text">Dashboard desenvolvida com o intuito de trazer uma forma acessivel de vizualizar os dados enviados pelo APP.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 20rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="container row d-inline-flex align-items-center mb-2">
                                <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-5 flex-shrink-0 col-2">
                                    <i class="bi-feather text-white"></i>
                                </div>
                                <h4 class="col-10 mb-1">
                                    Offline
                                </h4>
                            </div>
                        </div>
                        <p class="card-text">Visando acessibilidade, o aplicativo armazena todos seus dados nativamente, para serem enviados quando o usuario tiver acesso a rede.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 20rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="container row d-inline-flex align-items-center mb-2">
                                <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-5 flex-shrink-0 col-2">
                                    <i class="bi-feather text-white"></i>
                                </div>
                                <h4 class="col-10 mb-1">
                                    Sicronizado
                                </h4>
                            </div>
                        </div>
                        <p class="card-text">Sempre que uma notificação é enviada, a API e os graficos da Dashboard são atualizadas automaticamente.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 20rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="container row d-inline-flex align-items-center mb-2">
                                <div class="icon-square text-body-emphasis d-inline-flex align-items-center justify-content-center fs-5 flex-shrink-0 col-2">
                                    <i class="bi-feather text-white"></i>
                                </div>
                                <h4 class="col-10 mb-1">
                                    Data Viz
                                </h4>
                            </div>
                        </div>
                        <p class="card-text">A dashboard possui diversas metricas criadas para monitorar o avanço da covid-19.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TODO: Falar sobre os resultados alcancados -->
    <section class="container px-4 py-1">
        <div class="row align-items-center justify-content-between">
            <div class="col-md d-none d-lg-block">
                <img src="{% static 'img/enfermeira-anotando.png' %}" class="img-fluid rounded-3 mx-auto" width="450px" loading="lazy">
            </div>
            <div class="col-md p-2 py-4">
                <h2>Resultados alcançados</h2>
                <p class="lead">
                Tendo em vista os objetivos propostos anteriormente, conseguimos alcancar os seguintes resultados:
                </p>
                <ul class="mt-2" id="aprendizados">
                    <li>
                        Mapeamento e identificação dos entraves do sistema de notificação em São Paulo do Potengi.
                    </li>
                    <li>
                        Diminuição do tempo realizado para enviar uma notificação para menos de um minuto e a incidencia de erros humanos com a criação do aplicativo.
                    </li>
                    <li>
                        Melhorias na acessibilidade pelo meio off-line a partir do salvamento local de notificações no aplicativo
                    </li>
                    <li>
                        Melhorias no gerenciamento e vizualização de dados com a criação da Dashboard e API do IF-Notifica
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    <!-- footer -->
    {% include 'web/footer.html' %}

    <script>
        $(document).ready(function () {

            if ($("#nav-links").hasClass("justify-content-end")) {
                $(".navbar-toggler").click(function () {
                    $("#nav-links").removeClass("justify-content-end");
                    $("#nav-links").addClass("justify-content-start");
                });
            }

            // verificar sempre que o tamanho de tela mudar
            $(window).resize(function () {
                if ($(window).width() > 992) {
                    $('#nav-links').removeClass('justify-content-start');                 
                    $('#nav-links').addClass('justify-content-end');
                    $("#notificacoes_totais").removeClass("col-sm-2");
                    $("#notificacoes_totais").addClass("col-sm-x");
                }
                if ($(window).width() < 992) {
                    $("#notificacoes_totais").removeClass("col-sm-x");
                    $("#notificacoes_totais").addClass("col-sm-2");
                }
            });
        });
    </script>
</body>
</html>