{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/style.css'%}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    <title>IF-Notifica</title>
</head>
<body>
    {% include 'web/navbar.html' %}

    <!-- About us -->

    <section class="container px-4 py-3">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6 mx-auto">
                <img src="{% static 'img/dashboard_print.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-4">IF-Notifica</h1>
                <p class="lead">O aplicativo e sistema de dashboard do IF-Notifica foi criado com o objetivo registrar e diminuir o tempo levado para o envio de notificacoes da Covid-19 no municipio de São Paulo do Potengi e posteriormente para outras cidades!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a class="btn btn-primary btn-lg px-4 me-md-2 mt-1" href="/ifnotifica/">
                        Acesse a dashboard 
                    </a>
                    <a class="btn btn-outline-primary btn-lg px-4 me-md-2 mt-1" href="#">
                        baixar aplicativo
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="container px-4 py-3">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center mb-5">
                    <div class="col-6 align-middle d-none d-lg-block">
                        <img src="{% static 'img/mapa-covid.jpg' %}" class="img-fluid rounded-3" width="450px" loading="lazy">
                    </div>
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold text-end mb-3">Justificativa</h1>
                        <p class="text-end">
                            Com o surgimento da pandemia da Covid-19, o mundo se viu diante de uma crise sem precedentes, e com isso, a necessidade de se criar mecanismos para o controle e monitoramento da doenca. Um destes mecanismos eram as notificacoes, que sao enviadas para o E-sus Notifica, um sistema do governo federal que tem como objetivo monitorar a pandemia no Brasil.
                            Entretanto, o envio das notificacoes era um processo demorado, logo que o envio de uma notificacao para o E-sus poderia levar até 10 minutos, tendo em vista que a quantidade de notificoes enviadas diaramente passava de 80 durante a pandemia.
                        </p>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold mb-3">Objetivos</h1>
                        <p>
                            Assim sendo, decidimos criar um aplicativo que iria otimizar o tempo gasto para criacao e envio das notificacoes, e posteriormente desenvolvemos uma dashboard que iria mostrar os dados contidos nas notificacoes de forma mais intuitiva e interativa. Tendo como meta:
                        </p>
                        <ul>
                            <li>
                                Mapear o processo de notificação dos casos de COVID-19 nos sistemas SIVEP-Gripe e e-SUS Notifica junto a secretaria de saúde do município e identificar os entraves do processo de notificação dos casos da COVID-19 no município de São Paulo do Potengi
                            </li>
                            <li>
                                Desenvolver um aplicativo para dispositivos móveis que possibilite a notificação dos casos de COVID-19 no município de São Paulo do Potengi
                            </li>
                            <li>
                                Desenvolver uma dashboard que possibilite a visualização dos dados contidos nas notificações de forma mais intuitiva e interativa
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 align-middle d-none d-lg-block text-end">
                        <img src="{% static 'img/covid-19.jpg' %}" class="img-fluid rounded-3 mx-auto" width="450px" loading="lazy">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TODO: criar parte falando do funcionamento do app -->
    <section class="container px-4 py-3">
        <h1 class="pb-2 border-bottom">Aplicativo IF-Notifica</h1>
    </section>

    <section class="container px-4 py-3">
        <h1 class="pb-2 border-bottom">Dashboard</h1>
    </section>

    <section class="container px-4 py-3">
        <h2 class="pb-2 border-bottom">Funcoes do sistema</h2>
        <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <i class="bi bi-hourglass-split"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">Sicronizacao</h3>
                <p>Sempre que uma nova notificacao é enviada para nosso banco de dados, automaticamente nossa dashboard é atualizada em tempo real</p>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <i class="bi bi-database"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">Gerenciamento de dados</h3>
                <p>Dentro do sistema, são realizadas diversas verificacoes e testes que permitem que os dados de cada notificacao cheguem nos paramentros oferecidos pelo E-sus Notifica</p>
            </div>
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <i class="bi bi-bar-chart"></i>
                </div>
                <h3 class="fs-2 text-body-emphasis">Dashboard interativa</h3>
                <p>Ao acessar nossa dashboard você poderá vizualizar diversos tipos de dados quantitivos e qualititativos sobre a pandemia da Covid-19 baseado em dados contidos em nosso sistema.</p>
            </div>
        </div>
    </section>

    <!-- TODO: Falar sobre os resultados alcancados -->
    <section class="container px-4 py-3">
        <h1 class="pb-2 border-bottom">resultados alcancados</h1>
    </section>
    
    <!-- footer -->
    {% include 'web/footer.html' %}

    <script>
        $(document).ready(function () {
            $(window).resize(function() {
                if ($(window).width() > 992) {
                    $('#nav-links').addClass('justify-content-end');
                }
                else {
                    $('#nav-links').removeClass('justify-content-end');
                }
            });
        });
    </script>
</body>
</html>