body {
  background-color: #eff2f9 !important;
}

.col-sm-x {
  width: 12%;
}

.icon-square {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  background-color: cornflowerblue;
} 

.text-bg-warning {
  background-color: rgb(171, 99, 250) !important;
}

.text-bg-success {
  background-color: rgb(0, 204, 150) !important;
}

.text-bg-danger {
  background-color: rgb(239, 85, 59) !important;
}